nelmio_cors:
    defaults:
        origin_regex: true
        allow_origin: ['%env(CORS_ALLOW_ORIGIN)%']
        allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE', 'HEAD']
        allow_headers: ['Content-Type', 'Authorization', 'X-Requested-With', 'Accept', 'Origin']
        expose_headers: ['Link', 'X-Total-Count', 'X-Page-Count', 'X-Error-Message']
        max_age: 3600
        allow_credentials: true
    paths:
        '^/api/': 
            origin_regex: true
            allow_origin: ['%env(CORS_ALLOW_ORIGIN)%', 'https://beelshop.vercel.app', 'http://localhost:4200', 'http://localhost:3000']
            allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE', 'HEAD']
            allow_headers: ['Content-Type', 'Authorization', 'X-Requested-With', 'Accept', 'Origin']
            expose_headers: ['Link', 'X-Total-Count', 'X-Page-Count', 'X-Error-Message']
            max_age: 3600
            allow_credentials: true
