security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\Utilisateur:
            algorithm: auto

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        api_login:
            pattern: ^/api/auth/(login|register)
            stateless: true
            security: false
        api:
            pattern: ^/api/
            stateless: true
            provider: app_user_provider
            jwt: ~
        main:
            lazy: true
            provider: app_user_provider

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/api/auth/(login|register), roles: PUBLIC_ACCESS }
        - { path: ^/password.php, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/me, roles: ROLE_CLIENT }
        - { path: ^/api/auth/refresh, roles: ROLE_CLIENT }
        - { path: ^/api/utilisateurs, roles: ROLE_ADMIN }
        - { path: ^/api/, roles: ROLE_CLIENT }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
